[submodule "psblas3"]
	path = psblas3
	url = git@github.com:sfilippone/psblas3.git
	branch = development
[submodule "amg4psblas"]
	path = amg4psblas
	url = https://github.com/sfilippone/amg4psblas
	branch = PolySmooth
[submodule "matlab2tikz"]
	path = matlab2tikz
	url = git@github.com:matlab2tikz/matlab2tikz.git
